.navbar-default {
	background-color: transparent;
	border: none;
	padding-bottom: 30px;
	background-image: url(../images/header-background.jpg);	
	background-repeat: repeat-x;
}

.navbar-default .navbar-nav .active a {
    background-color: transparent;
    color: #E0405C;
}

.breadcrumb {
    background-color: transparent;
}

.benefactors {
    text-align: center;
}

.donatebutton {
    float: right;
}

.col-center {
    float: none;
    margin-right: auto;
    margin-left: auto;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}
.container .text-muted {
    margin: 20px 0;
}

.jumbotron {
	padding-top: 175px;
	padding-bottom: 175px;
	background-image: url(../images/testjumbo.jpg);
	background-repeat: no-repeat;
	background-position: center;
}
